.bodyContainer {
    background-color: #1d1d1d;
    position: absolute;
}

.currencyButtonActive {
    font-size: 16px;
    background-color: #1d1d1d;
    color: #bfd6ff;
    border-radius: 8px;
    padding: 8px;
    border: 0;
    margin: 0;
    position: absolute;
    font-weight: bold;
    font-family: Tahoma;
}

.currencyButtonDefault {
    background-color: #1d1d1d;
    font-size: 16px;
    color: #db9452;
    border-radius: 8px;
    padding: 8px;
    border: 0;
    position: absolute;
    top: 30px;
    font-weight: bold;
    font-family: Tahoma;
}
